---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Footer from "@/components/Footer.astro";
---

<Layout title="Frontend Mentor | myteam website challenge - Homepage">
  <!-- The Header-->
  <Header />
  <main>
    <section
      class="relative z-50 mx-6 mb-[6.75rem] mt-20 flex flex-col items-center gap-4 text-center md:mb-[7rem] md:ml-[2.81rem] md:mr-10 md:mt-[7.62rem] md:gap-6 xl:max-2xl:mx-[10.31rem] xl:max-2xl:mb-[7.5rem] xl:max-2xl:mt-[7.75rem] xl:max-2xl:flex-row xl:max-2xl:items-start xl:max-2xl:justify-between xl:max-2xl:gap-[1.87rem] xl:max-2xl:text-left"
    >
      <h1
        class="w-[20.4375rem] text-[2.5rem] font-bold leading-10 text-white md:w-[42.6875rem] md:leading-[3.5rem] md:max-2xl:text-[4rem] xl:max-2xl:-mt-10 xl:max-2xl:w-[21.875rem] xl:max-2xl:leading-[6.25rem]"
      >
        About
      </h1>
      <p
        class="w-[20.4375rem] text-[0.9375rem] font-semibold leading-7 text-white md:w-[28.5625rem] xl:max-2xl:relative xl:max-2xl:w-[45.625rem] xl:max-2xl:text-lg xl:max-2xl:leading-7 xl:max-2xl:before:absolute xl:max-2xl:before:-top-10 xl:max-2xl:before:left-0 xl:max-2xl:before:h-[0.25rem] xl:max-2xl:before:w-[3.125rem] xl:max-2xl:before:bg-[#F67E7E]"
      >
        We help companies build dynamic teams made up of top global talent.
        Using our network of passionate professionals we drive innovation and
        deliver incredible outcomes. Talented, diverse teams shape the best
        products and experiences. We’ll bring those teams to you.
      </p>
      <img
        src="/images/bg-pattern-about-1-mobile-nav-1.svg"
        alt=""
        class="absolute bottom-[-12.88rem] right-[-7.7rem] md:bottom-[-6.88rem] md:right-[-8.7rem] xl:max-2xl:bottom-[-7.88rem] xl:max-2xl:right-[-16.7rem]"
      />
    </section>

    <section
      class="relative z-50 flex flex-col items-center gap-12 overflow-hidden bg-[#004047] px-6 pb-[7.25rem] pt-[5.5rem] md:pb-[8rem] md:pl-[6.06rem] md:pr-[6.12rem] md:pt-[6.25rem] xl:max-2xl:px-[10.31rem] xl:max-2xl:pb-[10.5rem] xl:max-2xl:pt-[8.75rem]"
    >
      <img
        src="/images/bg-pattern-about-2-contact-1.svg"
        alt=""
        class="absolute left-[-6.188rem] top-[-6.3rem] overflow-hidden md:top-[-0.3rem] xl:max-2xl:top-[-0.3rem]"
      />
      <h2 class="">Meet the directors</h2>
      <div
        class="grid grid-cols-1 gap-[3.25rem] md:grid-cols-2 md:gap-x-[0.69rem] md:gap-y-[4.75rem] xl:max-2xl:grid-cols-3 xl:max-2xl:gap-x-[1.87rem] xl:max-2xl:gap-y-[4.75rem]"
      >
        <!-- Nikita Marks -->
        <div
          class="xl:max-2xl:w-[21.875rem ] h-[15.8125rem] w-[20.4375rem] bg-[#002529]
          md:w-[17.5625rem]"
        >
          <p class="">
            “It always amazes me how much talent there is in every corner of the
            globe.”
          </p>
          <h3 class="">Nikita Marks</h3>
          <h4 class="">Founder & CEO</h4>
        </div>
        <!-- Cristian Duncan -->
        <div
          class="xl:max-2xl:w-[21.875rem ] h-[15.8125rem] w-[20.4375rem] bg-[#002529]
          md:w-[17.5625rem]"
        >
          <p class="">
            “Distributed teams required unique processes. You need to approach
            work in a new way.”
          </p>
          <h3 class="">Cristian Duncan</h3>
          <h4 class="">Co-founder & COO</h4>
        </div>
        <!-- Cruz Hamer -->
        <div
          class="xl:max-2xl:w-[21.875rem ] h-[15.8125rem] w-[20.4375rem] bg-[#002529]
          md:w-[17.5625rem]"
        >
          <p class="">
            “Technology is at the forefront of enabling distributed teams.
            That's where we come in.”
          </p>
          <h3 class="">Cruz Hamer</h3>
          <h4 class="">Co-founder & CTO</h4>
        </div>
        <!-- Drake Heaton -->
        <div
          class="xl:max-2xl:w-[21.875rem ] h-[15.8125rem] w-[20.4375rem] bg-[#002529]
          md:w-[17.5625rem]"
        >
          <p class="">
            “Hiring similar people from similar backgrounds is a surefire way to
            stunt innovation.”
          </p>
          <h3 class="">Drake Heaton</h3>
          <h4 class="">Business Development Lead</h4>
        </div>
        <!-- Griffin Wise -->
        <div
          class="xl:max-2xl:w-[21.875rem ] h-[15.8125rem] w-[20.4375rem] bg-[#002529]
          md:w-[17.5625rem]"
        >
          <p class="">
            “Unique perspectives shape unique products, which is what you need
            to survive these days.”
          </p>
          <h3 class="">Griffin Wise</h3>
          <h4 class="">Lead Marketing</h4>
        </div>
        <!-- Aden Allan -->
        <div
          class="xl:max-2xl:w-[21.875rem ] h-[15.8125rem] w-[20.4375rem] bg-[#002529]
          md:w-[17.5625rem]"
        >
          <p class="">
            “Empowered teams create truly amazing products. Set the north star
            and let them follow it.”
          </p>
          <h3 class="">Aden Allan</h3>
          <h4 class="">Head of Talent</h4>
        </div>
      </div>
    </section>
  </main>
  <!-- The Footer -->
  <Footer />
</Layout>
