---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | myteam website challenge - Homepage">
  <!-- The Header-->
  <Header />
  <main>
    <!-- Hero Section -->
    <section
      class="relative mt-20 flex flex-col items-center md:mt-[7.5rem] xl:max-2xl:mx-[10.31rem] xl:max-2xl:mt-[8.31rem]"
    >
      <div
        class="mx-6 mb-[12.13rem] flex flex-col items-center gap-[1.12rem] text-center md:mb-[16rem] md:gap-6 xl:max-2xl:mb-[15.63rem] xl:max-2xl:flex-row xl:max-2xl:justify-between xl:max-2xl:gap-[1.87rem] xl:max-2xl:text-left"
      >
        <h1
          class="w-[15.4375rem] text-[2.5rem] font-bold leading-10 text-white md:w-[24.6875rem] md:text-[4rem] md:leading-[3.5rem] xl:max-2xl:w-[38.6875rem] xl:max-2xl:text-[6.25rem] xl:max-2xl:leading-[6.25rem]"
        >
          Find the best <span class="text-[#F67E7E]">talent</span>
        </h1>
        <p
          class="w-[20.4375rem] text-[0.9375rem] font-semibold leading-7 text-white md:w-[28.5625rem] xl:max-2xl:relative xl:max-2xl:w-[27.8125rem] xl:max-2xl:self-end xl:max-2xl:text-lg xl:max-2xl:before:absolute xl:max-2xl:before:top-[-4.94rem] xl:max-2xl:before:h-[0.25rem] xl:max-2xl:before:w-[3.125rem] xl:max-2xl:before:bg-[#79C8C7]"
        >
          Finding the right people and building high performing teams can be
          hard. Most companies aren&#39;t tapping into the abundance of global
          talent. We&#39;re about to change that.
        </p>
      </div>
      <div class="xl:max-2xl:relative xl:max-2xl:right-[-23.063rem]">
        <img src="/images/bg-pattern-home-2.svg" alt="pattern" class="" />
      </div>
      <div
        class="hidden xl:max-2xl:absolute xl:max-2xl:left-[-14.75rem] xl:max-2xl:top-[-0.37rem] xl:max-2xl:flex"
      >
        <img src="/images/bg-pattern-home-1.svg" alt="pattern" class="" />
      </div>
    </section>
    <!-- Section 2 -->
    <section
      class="relative flex flex-col gap-14 overflow-x-hidden bg-[#012F34] px-6 pb-16 pt-[6.25rem] md:gap-16 md:pb-[6.25rem] xl:max-2xl:flex-row xl:max-2xl:gap-[7.81rem] xl:max-2xl:pb-[8.75rem] xl:max-2xl:pt-[12.73rem]"
    >
      <!-- Build & Manage  -->
      <div class="md:pl-[6.13rem] xl:max-2xl:pl-[10.31rem]">
        <h2
          class="relative w-[15rem] text-[2rem] font-bold leading-8 text-white before:absolute before:-top-8 before:left-0 before:h-[0.25rem] before:w-[3.125rem] before:bg-[#F67E7E] md:max-2xl:w-[27.8125rem] xl:max-2xl:text-[3rem] xl:max-2xl:leading-[3rem] xl:max-2xl:before:top-[-3.38rem]"
        >
          Build & manage distributed teams like no one else.
        </h2>
        <img
          src="/images/bg-pattern-home-3.svg"
          alt=""
          class="absolute -right-[6.5rem] -top-1 xl:max-2xl:top-[27.75rem]"
        />
      </div>
      <!-- Pros -->
      <div
        class="flex flex-col items-center gap-12 text-center md:pl-[6.06rem] md:pr-[6.12rem] md:max-2xl:gap-8 md:max-2xl:text-left xl:max-2xl:pl-0 xl:max-2xl:pr-[10.31rem]"
      >
        <!-- Experienced Individuals -->
        <div
          class="flex flex-col items-center gap-4 md:max-2xl:flex-row md:max-2xl:gap-[1.44rem]"
        >
          <div class="">
            <img src="/images/icon-person.svg" alt="person icon" class="" />
          </div>
          <div
            class="flex w-[20.4375rem] flex-col gap-2 md:w-[29.875rem] md:max-2xl:gap-4 xl:max-2xl:w-[27.8125rem]"
          >
            <h2 class="text-lg font-bold leading-7 text-[#F67E7E]">
              Experienced Individuals
            </h2>
            <p
              class="text-[0.9375rem] font-semibold leading-[1.5625rem] text-white/80"
            >
              Our network is made up of highly experienced professionals who are
              passionate about what they do.
            </p>
          </div>
        </div>
        <!-- Easy to Implement -->
        <div
          class="flex flex-col items-center gap-4 md:max-2xl:flex-row md:max-2xl:gap-[1.44rem]"
        >
          <div class="">
            <img src="/images/icon-cog.svg" alt="person icon" class="" />
          </div>
          <div
            class="flex w-[20.4375rem] flex-col gap-2 md:w-[29.875rem] md:max-2xl:gap-4 xl:max-2xl:w-[27.8125rem]"
          >
            <h2 class="text-lg font-bold leading-7 text-[#F67E7E]">
              Easy to Implement
            </h2>
            <p
              class="text-[0.9375rem] font-semibold leading-[1.5625rem] text-white/80"
            >
              Our processes have been refined over years of implementation
              meaning our teams always deliver.
            </p>
          </div>
        </div>
        <!-- Enhanced Productivity -->
        <div
          class="flex flex-col items-center gap-4 md:max-2xl:flex-row md:max-2xl:gap-[1.44rem]"
        >
          <div class="">
            <img src="/images/icon-chart.svg" alt="person icon" class="" />
          </div>
          <div
            class="flex w-[20.4375rem] flex-col gap-2 md:w-[29.875rem] md:max-2xl:gap-4 xl:max-2xl:w-[27.8125rem]"
          >
            <h2 class="text-lg font-bold leading-7 text-[#F67E7E]">
              Enhanced Productivity
            </h2>
            <p
              class="text-[0.9375rem] font-semibold leading-[1.5625rem] text-white/80"
            >
              Our customized platform with in-built analytics helps you manage
              your distributed teams.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section 3 -->
    <section
      class="relative mx-6 mb-[10.25rem] mt-[8.75rem] flex flex-col items-center gap-[5.25rem] text-center md:my-[6.25rem] md:ml-[6.06rem] md:mr-[6.13rem] xl:max-2xl:mx-[10.31rem] xl:max-2xl:mb-[9.44rem] xl:max-2xl:mt-[8.75rem] xl:max-2xl:gap-[5.75rem]"
    >
      <div class="">
        <h2
          class="w-[20.4375rem] text-[2rem] font-bold leading-8 text-white md:w-[35.8125rem] xl:max-2xl:w-[58.25rem] xl:max-2xl:text-[3rem] xl:max-2xl:leading-[3rem]"
        >
          Delivering real results for top companies. Some of our <span
            class="text-[#79C8C7]"
          >
            success stories.
          </span>
        </h2>
        <img
          src="/images/bg-pattern-home-4-about-3.svg"
          alt=""
          class="absolute -left-6 top-[-8.75rem] md:left-[-6.06rem] md:top-[-6.25rem] xl:max-2xl:left-[-10.31rem] xl:max-2xl:top-[-8.75rem]"
        />
      </div>
      <div
        class="flex flex-col items-center gap-[5.25rem] xl:max-2xl:flex-row xl:max-2xl:justify-between xl:max-2xl:gap-[1.88rem]"
      >
        <!-- Kady Baker -->
        <div
          class="relative flex w-[20.4375rem] flex-col items-center gap-4 md:w-[35.8125rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:gap-6"
        >
          <img src="/images/icon-quotes.svg" alt="" class="absolute -top-10" />
          <p
            class="z-50 text-[0.9375rem] font-semibold leading-[1.5625rem] text-white"
          >
            “The team perfectly fit the specialized skill set required. They
            focused on the most essential features helping us launch the
            platform eight months faster than planned.”
          </p>
          <div class="">
            <h3 class="text-lg font-bold leading-7 text-[#79C8C7]">
              Kady Baker
            </h3>
            <h4
              class="text-sm font-medium italic leading-[1.125rem] text-white"
            >
              Product Manager at Bookmark
            </h4>
          </div>
          <div class="xl:max-2xl:mt-[1.19rem]">
            <img
              src="/images/avatar-kady.jpg"
              alt=""
              class="size-[3.875rem] rounded-full border-[2px] border-solid border-[#C4FFFE]"
            />
          </div>
        </div>
        <!-- Aiysha Reese -->
        <div
          class="relative flex w-[20.4375rem] flex-col items-center gap-4 md:w-[35.8125rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:gap-6"
        >
          <img src="/images/icon-quotes.svg" alt="" class="absolute -top-10" />
          <p
            class="z-50 text-[0.9375rem] font-semibold leading-[1.5625rem] text-white"
          >
            “We needed to automate our entire onboarding process. The team came
            in and built out the whole journey. Since going live, user retention
            has gone through the roof!”
          </p>
          <div class="">
            <h3 class="text-lg font-bold leading-7 text-[#79C8C7]">
              Aiysha Reese
            </h3>
            <h4
              class="text-sm font-medium italic leading-[1.125rem] text-white"
            >
              Founder of Manage
            </h4>
          </div>
          <div class="xl:max-2xl:mt-[1.19rem]">
            <img
              src="/images/avatar-aiysha.jpg"
              alt=""
              class="size-[3.875rem] rounded-full border-[2px] border-solid border-[#C4FFFE]"
            />
          </div>
        </div>
        <!-- Arthur Clarke -->
        <div
          class="relative flex w-[20.4375rem] flex-col items-center gap-4 md:w-[35.8125rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:gap-6"
        >
          <img src="/images/icon-quotes.svg" alt="" class="absolute -top-10" />
          <p
            class="z-50 text-[0.9375rem] font-semibold leading-[1.5625rem] text-white"
          >
            “Amazing. Our team helped us build an app that delivered a new
            experience for hiring a physio. The launch was an instant success
            with 100k downloads in the first month.”
          </p>
          <div class="">
            <h3 class="text-lg font-bold leading-7 text-[#79C8C7]">
              Arthur Clarke
            </h3>
            <h4
              class="text-sm font-medium italic leading-[1.125rem] text-white"
            >
              Co-founder of MyPhysio
            </h4>
          </div>
          <div class="xl:max-2xl:mt-[1.19rem]">
            <img
              src="/images/avatar-arthur.jpg"
              alt=""
              class="size-[3.875rem] rounded-full border-[2px] border-solid border-[#C4FFFE]"
            />
          </div>
        </div>
        <img
          src="/images/bg-pattern-home-5.svg"
          alt=""
          class="absolute -right-6 bottom-[-10.25rem] md:bottom-[-6.25rem] md:right-[-6.13rem] xl:max-2xl:bottom-[-9.44rem] xl:max-2xl:right-[-10.31rem]"
        />
      </div>
    </section>
    <!-- Section 4 -->
    <section
      class="relative flex flex-col items-center justify-center gap-6 overflow-y-hidden bg-[#F67E7E] px-6 py-[5.19rem] text-center md:flex-row md:justify-between md:gap-[5.25rem] md:py-[5.25rem] md:pl-[6.06rem] md:pr-[6.12rem] md:max-2xl:text-left xl:max-2xl:gap-[10.25rem] xl:max-2xl:py-[4.75rem] xl:max-2xl:pl-[16.44rem] xl:max-2xl:pr-[16.25rem]"
    >
      <h2
        class="w-[20.4375rem] text-[2rem] font-bold leading-8 text-[#012F34] md:w-[21rem]"
      >
        Ready to get started?
      </h2>
      <a
        href="/contact"
        class="flex h-12 w-[9.5625rem] items-center justify-center rounded-3xl border-[2px] border-solid border-[#012F34] text-lg font-semibold text-[#012F34] transition-colors duration-300 ease-in hover:bg-[#012F34] hover:text-white"
        >contact us</a
      >
      <img
        src="/images/bg-pattern-home-6-about-5.svg"
        alt=""
        class="absolute bottom-[-1.125rem] left-0"
      />
    </section>
  </main>
</Layout>
